h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

html,
body,
ul,
li,
button,
input,
textarea,
h1 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 700px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__phone-link {
    color: white; }
  .header .logo__image {
    height: 76px;
    margin: 15%; }
  .header__action {
    position: relative;
    padding-bottom: 0.5em; }
    .header__action ::after {
      content: " ";
      border-bottom: 1px solid white;
      position: absolute;
      bottom: 0;
      left: 1px;
      right: 1px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .header__action :hover::after {
      border-bottom: 1px solid #9fadc2; }
    .header__action :hover {
      color: #9fadc2; }
  .header__link {
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header__heading ::before {
    content: " ";
    position: absolute;
    top: -15%;
    left: 0;
    border-top: 2px solid white;
    border-radius: 2px;
    width: 2.5rem; }
  .header__heading .heading__text {
    position: relative;
    margin: 10% 10% 0;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-transform: capitalize;
    color: white; }

.nav {
  color: black;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2%; }
  .nav__item {
    margin: 1%; }
    .nav__item_active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px; }
    .nav__item :hover {
      color: #9fadc2; }
  .nav__link {
    display: block;
    padding: 8px 24px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
